<div class="container ">
  <section class="FormWrapper">
    <h3 class="mb-5 PageTitle">予定の新規追加</h3>

    <%= form_with model: @schedule, class: "Form"  do |f| %>
      <% if @schedule.errors.any? %>
        <div id="alert alert-danger">
          <ul>
            <% @schedule.errors.each do |error| %>
            <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="row g-3">
        <div class="col-12">
          <%= f.label :title, "タイトル", class: "form-label Form__label--required" %>
          <%= f.text_field :title, class: "form-control", placeholder: "タイトル", required: true %>
        </div>

        <div class="col-md-6">
          <%= f.label :start_date, "開始日", class: "form-label Form__label--required" %>
          <%= f.datetime_field :start_date, class: "form-control", required: true %>
        </div>

        <div class="col-md-6">
          <%= f.label :end_date, "終了日", class: "form-label Form__label--required" %>
          <%= f.datetime_field :end_date, class: "form-control", required: true %>
        </div>

        <div class="col-12 form-check Form__check">
          <%= f.check_box :all_day, class: "form-check-input Form__check-input" %>
          <%= f.label :all_day, "終日の場合はチェックを入れます", class: "form-check-label Form__check-label" %>
        </div>

        <div class="col-12">
          <%= f.label :memo, "スケジュールメモ", class: "form-label" %>
          <%= f.text_area :memo, class: "form-control", placeholder: "メモを入力する" %>
        </div>

        <div class="FormContainer__buttons">
          <%= link_to "キャンセル", schedules_path, class: "btn Button Button--secondary" %>
          <%= f.submit "保存", class: "btn Button Button--primary" %>
        </div>
      </div>

    <% end %>
  </section>
</div>
